server:
  port: 8080
  address: 0.0.0.0

lavalink:
  server:
    password: "yoursupersecretpassword123"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
    filters:
      volume: true
      equalizer: true
      karaoke: true
      timescale: true
      tremolo: true
      vibrato: true

logging:
  level:
    root: INFO
    lavalink: INFO
